
# Weights
*.h5
*.hdf5
TrainedModels
# nc4 files
*.nc4
# Images
*.png
*.jpg
# JSON
*.json
# Pickle
*.pickle
# npy
*.npy
# Python folder and files
__pycache__
BestModels
TrainedModels_old_data
Logs_old_data
venv
.idea
.ipynb_checkpoints
