# ALL DATA :
Data/

## Input, Output
### hdf5 files
*.h5
*.hdf5
### nc4 files
*.nc4
### npy
*.npy

## Models
### Folders
TrainedModels
SavedModels
###Pickle
*.pickle

# Images
*.png
*.jpg
*.gif

# JSON
*.json

#misc
*.wav
.DS_Store
# Notebooks:
*.ipynb

# Python folder and files
__pycache__
Data/
.venv
.idea
.ipynb_checkpoints
