numpy
xarray
torch
torchvision
matplotlib
h5netcdf
h5py
psutil
pandas
netCDF4

# Solar
pysolar
# Simplified work
ephem
tqdm

# Cartopy projections :
cartopy # requires 'sudo apt install libgeos-dev'
tree
scipy
